<nav class="navbar">
  <div class="brand" (click)="irAInicio()" style="cursor: pointer;">
    <img src="../assets/ico-navbar.png" alt="" style="height: 80px;">
  </div>

<button class="hamburger" (click)="toggleMenu()" [class.active]="menuAbierto" aria-label="Abrir menú">
    <span></span>
    <span></span>
    <span></span>
  </button>
  
<div class="nav-content" [class.open]="menuAbierto">
    <ul class="nav-links">
      <li (click)="irAInicio()">Inicio</li>
      <li>Servicios</li>
      <li>Nosotros</li>
      <li>Contacto</li>
    </ul>

    <div class="nav-actions">
      <button class="btn-login" (click)="irALogin()">Iniciar sesión</button>
    </div>
  </div>
</nav>