<app-navbar-panel-doctor></app-navbar-panel-doctor>

<div class="dashboard-wrapper fade-in-up">
  <ng-container *ngIf="!cargando && paciente">
    <div class="back-navigation">
      <button class="btn-back" (click)="volverAlDirectorio()">
        <mat-icon>arrow_back</mat-icon> Volver al directorio
      </button>
    </div>
    <header class="patient-header">
      <div class="basic-info-col">
        <div class="avatar-large">
          <mat-icon>person</mat-icon>
        </div>
        <div class="info-text">
          <h2>{{ paciente.nombres }} {{ paciente.apellidos }}</h2>
          <div class="badges">
            <span class="badge-id">C.I: {{ paciente.cedula }}</span>
            <span class="badge-age">Edad: {{ paciente.edad }} años</span>
          </div>
        </div>
      </div>
      <div class="medical-alerts-col">
        <div class="alert-box warning">
          <div class="alert-title"><mat-icon>warning</mat-icon> Alergias</div>
          <div class="alert-value">{{ perfilMedico?.alergias || 'No refiere' }}</div>
        </div>
        <div class="alert-box danger">
          <div class="alert-title"><mat-icon>favorite</mat-icon> Enfermedades</div>
          <div class="alert-value">{{ perfilMedico?.enfermedades || 'No refiere' }}</div>
        </div>
        <div class="alert-box info">
          <div class="alert-title"><mat-icon>medication</mat-icon> Medicamentos</div>
          <div class="alert-value">{{ perfilMedico?.medicamentosHabituales || 'No refiere' }}</div>
        </div>
      </div>

    </header>

    <nav class="tabs-navigation">
      <button [class.active]="pestanaActiva === 'datos_personales'" (click)="cambiarPestana('datos_personales')">
        <mat-icon>badge</mat-icon> Datos Personales
      </button>
      <button [class.active]="pestanaActiva === 'ficha_clinica'" (click)="cambiarPestana('ficha_clinica')">
        <mat-icon>medical_information</mat-icon> Ficha Clínica
      </button>
    </nav>

    <main class="tab-content">
      
      <app-datos-perfil-paciente 
        *ngIf="pestanaActiva === 'datos_personales'"
        [paciente]="paciente" 
        [perfilMedico]="perfilMedico">
      </app-datos-perfil-paciente>

      <app-ficha-clinica 
        *ngIf="pestanaActiva === 'ficha_clinica'"
        [idUsuario]="idUsuario">
      </app-ficha-clinica>

    </main>
  </ng-container>
</div>