<header class="admin-header">
  <div class="brand">
    <img src="./assets/ico-navbar.png" alt="Logo" style="height: 80px;">
    <h1><span class="badge-doctor">Portal Médico</span></h1>
  </div>
  <div class="user-profile">
    
    <span class="icon-doctor">
      <mat-icon>health_and_safety</mat-icon>
    </span>
    
    <div class="user-info">
      <span class="name">Dr. OdontoStyle</span>
      <span class="role">Odontólogo General</span>
    </div>
    <button class="btn-logout" (click)="cerrarSesion()" title="Cerrar Sesión">Salir</button>
  </div>
</header>